.profile__avatar {
  display: block;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0 auto 26px;
}

@media screen and (min-width: 768px) {
  .profile__avatar {
    margin: 0;
  }
}
