.button_type_edit {
  background-color: transparent;
  min-width: 18px;
  height: 18px;
  background-image: url(../../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .button_type_edit {
    min-width: 24px;
    height: 24px;
  }
}
