.button_type_like {
  min-width: 22px;
  height: 19px;
  background-image: url(../../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-top: 5px;
}

.button_type_like:hover {
  opacity: 0.5;
}
