.button_type_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  background-image: url(../../../../images/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .button_type_close {
    width: 32px;
    height: 32px;
    background-size: cover;
    top: -40px;
    right: -40px;
  }
}
