.button_type_submit {
  max-width: 238px;
  min-height: 46px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
  margin-bottom: 25px;
}

.button_type_submit:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .button_type_submit {
    max-width: 358px;
    min-height: 50px;
    margin-bottom: 37px;
  }
}
