.header {
  min-height: 56px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 28px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    min-height: 74px;
  }
}
