.header__link {
  color: #a9a9a9;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s linear;
}

.header__link:hover {
  opacity: 0.8;
}
